@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap');

$backgroundColor: #EEEEEE;
$menuColor: #FFFFFF;
$textColor: #777777;
$mainColor : #E57D23;

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background: $backgroundColor;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: $textColor;
}
li:not(:first-child) {
    border-top: 1px solid $backgroundColor;
}
.navbar {
    width: 250px;
    background: $menuColor;
    margin: 30px 50px;

    .navbar__menu {
        position: relative;

        .about {
            a {
                color: $mainColor;
            }
            -webkit-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
            -moz-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
            box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
        }

        .navbar__menu__link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 6px 12px;
            position: relative;
            height: 40px;

            .blog {
                display: none;
            }
            a {
                display: flex;
                width: 100%;

                .navbar__menu__link__content {
                    display: flex;
                    flex-direction: column;
                    :nth-of-type(2n+1) {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 18px;
                    }
                    :nth-of-type(2n) {
                        font-size: 12px;
                    }
                }
                .icon {
                    margin: 0px 10px;
                }
            }
            .menu__right {
                position: absolute;
                left: 250px;
                top: 0px;
                background: $menuColor;
                width: 250px;
                display: none;

                .menu__right__link {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    &:hover {
                        > a {
                        color: $mainColor;
                        }
                        -webkit-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                        -moz-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                        box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                    }
                }
                .menu__right__link__drop {
                    height: 40px;
                    display: flex;
                    align-items: center;
                    position: relative;

                    .menu__right__link__drop__staff {
                        display: none;
                    }
                    &:hover {
                        > a {
                        color: $mainColor;
                        }
                        .menu__right__link__drop__staff {
                            display: block;
                        }
                        -webkit-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                        -moz-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                        box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                    }
                }
                .menu__right__link__dropdown__chief {
                    .menu__right__link__drop__chief {
                        display: none;
                    }
                    &:hover {
                        .menu__right__link__drop__chief {
                            display: block;
                        }
                    }
                }
            }
            input {
                width: 150px;
                height: 40px;
                border: 1px solid $backgroundColor;
                margin: 10px 0px 10px 10px;
            }
            .searchbtn {
                width: 40px;
                height: 40px;
                background: $mainColor;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    color: #FFFFFF;
                }
            }
            &:hover {
                > a {
                color: $mainColor;
                }
                .blog {
                    display: block;
                }
                -webkit-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                -moz-box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
                box-shadow: 0px -1px 19px -4px rgba(143,137,143,1);
            }
        }
    }
}
